<!DOCTYPE html>
<html>
<head>
  <title>DriveABLE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<img src="photo-1417354691640-148c3d652342.jpeg" id="login-bg" alt="">
<%= yield %>

</body>
</html>
